version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    restart: unless-stopped
    depends_on:
      - mongo
    env_file:
      - .env
    environment:
      - NODE_ENV=production

  mongo:
    image: mongo:latest
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    command: --storageEngine=wiredTiger

volumes:
  mongo_data:

